body {
  margin: 0;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248, 249, 250);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl md:text-5xl xl:text-7xl text-primaryText;
  }

  h2 {
    @apply md:text-2xl text-xl text-primaryText font-medium;
  }

  h3 {
    @apply md:text-2xl text-lg text-primaryText font-light;
  }

  h4 {
    @apply md:text-xl text-primaryText;
  }

  h5 {
    @apply font-medium text-primaryText;
  }

  p {
    @apply text-primaryText md:text-primaryText text-xs;
  }

  section {
    @apply pt-28 md:pt-32 lg:pt-24 px-6 lg:px-32 bg-primaryBg;
  }
}