body {
  margin: 0;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248, 249, 250);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl md:text-5xl text-TEXT_PRIMARY;
  }

  h2 {
    @apply text-2xl text-TEXT_PRIMARY font-medium;
  }

  h3 {
    @apply text-2xl text-TEXT_PRIMARY font-light;
  }

  h4 {
    @apply font-medium text-xl text-TEXT_PRIMARY;
  }

  h5 {
    @apply font-medium text-TEXT_PRIMARY;
  }

  p {
    @apply text-TEXT_PRIMARY text-xs;
  }

  section {
    @apply pt-28 md:pt-32 lg:pt-24 px-6 lg:px-32 bg-BG_PRIMARY;
  }
}