body {
  margin: 0;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248, 249, 250);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl text-TEXT_PRIMARY;
  }

  h2 {
    @apply text-3xl text-TEXT_PRIMARY;
  }

  h3 {
    @apply text-2xl md:text-3xl text-TEXT_PRIMARY;
  }

  h4 {
    @apply text-2xl text-TEXT_PRIMARY;
  }

  h5 {
    @apply text-TEXT_PRIMARY;
  }

  h6 {
    @apply text-TEXT_PRIMARY text-4xl font-light;
  }

  p {
    @apply text-TEXT_PRIMARY text-sm;
  }

  section {
    @apply pt-28 md:pt-32 lg:pt-24 px-6 lg:px-32 bg-BG_PRIMARY;
  }
}

@layer components {
  .paragraph-lg {
    @apply text-base lg:text-lg text-TEXT_PRIMARY;
  }

  .paragraph-md {
    @apply text-base text-TEXT_GRAY;
  }

  .paragraph-sm {
    @apply text-sm text-TEXT_GRAY;
  }
  .paragraph-tiny {
    @apply text-xs text-TEXT_GRAY;
  }
  .paragraph-lead {
    @apply text-xl text-TEXT_LIGHTGRAY font-light;
  }
}
